li[class=book_head] {
    display: block;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    left: 0px;
    line-height: 1.0;
    width: 300px;
    padding: 5px;
}

list[class=sub1] {
    display: block;
    position: relative;
    font-weight: bold;
    left: 20px;
    line-height: 1.0;
    width: 300px;
    padding: 5px;
}

li[class=li1]{
    display: block;
    position: relative;
    left: 20px;
    line-height: 1.0;
    width: 300px;
    padding: 5px;
}


list[class=sub2] {
    display: block;
    position: relative;
    font-weight: bold;
    left: 40px;
    line-height: 1.0;
    width: 300px;
    padding: 5px;
}
    
li[class=li2]{
    display: block;
    position: relative;
    font-weight: normal;
    left: 40px;
    line-height: 1.0;
    width: 300px;
    padding: 5px;
}

list[class=sub3] {
    display: block;
    position: relative
    font-weight: bold;;
    left: 60px;
    line-height: 1.0;
    width: 300px;
    padding: 5px;
}


li[class=li3] {
    display: block;
    position: relative;
    font-weight: normal;
    left: 60px;
    line-height: 1.0;
    width: 300px;
    padding: 5px;
}


list[class=sub4] {
    display: block;
    position: relative
    font-weight: bold;;
    left: 60px;
    line-height: 1.0;
    width: 300px;
    padding: 5px;
}


li[class=li4] {
    display: block;
    position: relative;
    font-weight: normal;
    left: 60px;
    line-height: 1.0;
    width: 300px;
    padding: 5px;
}
