/* hebrew-treedown.css */

chapter {
  padding: 2em;
}

wg[class='header'] {
  padding: 2em;
}

* {
  direction: rtl;
  font-size: 1.3rem;
  font-family: 'SBL Hebrew', 'Ezra-SIL', 'Times New Roman', serif;
}

w:not([after]) {
  margin-left: -0.2em;
}

/* Ryder: for breaking lines on VAVs */
wg:not([class='cl']) > w[class='cj'][unicode^='ו']::before {
  /* Add carriage return before VAV */
  /* FIXME: Ryder is using an underscore (which is a 1-em character)
  to add an additional 1em/rem right margin before the content
  that is placed on the next line. This ought to be handled differently,
  since it adds extra text content (though it does not appear to
  show up while copying and pasting the text).  */
  content: '\A_';
  opacity: 0;
  white-space: pre;
}
wg:not([class='cl']) > w[class='cj'][unicode^='ו'] {
  /* Make VAV inline */
  display: inline;
  vertical-align: top;
  margin-right: 1em;
}
wg:not([class='cl']) > w[class='cj'][unicode^='ו'] + * {
  /* Make subsequent sibling inline block */
  display: inline-block;
}

/* ------ right spacing --------- */

wg[class='cl'] {
  margin-right: 1em;
  position: relative;
}

sentence > wg {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

wg[class='header'] {
  display: block;
  position: fixed;
  width: 6rem;
  top: 5px;
  left: 5px;
  background-color: white;
  opacity: 1;
  overflow: scroll;
}

milestone {
  color: blue;
  display: block;
  padding-right: 6px;
  font-size: 1rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div[class='book'] {
  margin-top: 1in;
  margin-left: 1in;
  margin-bottom: 1in;
  line-height: 1.2;
  background-color: white;
  opacity: 1;
}

book,
passage,
root {
  line-height: 1.5;
  margin-left: 5rem;
  margin-right: 10rem;
  /* background: linen; */
}

/* WGs */

wg > wg[class='wg'] {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

wg > wg[class='cl'],
wg:not(wg[class='cl']) > wg:has(wg[class='cl']) + wg,
wg:not(wg[class='np']):not(wg[class='wg']):has(> wg[class='cl']) > w {
  margin-left: 0.8rem;
}

wg:not(wg[class='cl'])
 > wg /* Ryder: Firefox doesn't support the :has() selector by default. */
 + wg {
  margin-left: 0.8rem;
}

wg:has(wg[class='cl']) + wg[class='cl'] {
  /* Ryder: sometimes a deeply nested wg[class=cl] is followed by a wg[class=cl] that is not nested. 
     Without this additional margin, there is a double line since the clause adjacency 
     is not obvious based on the other rules. */
  margin-top: 1rem;
}

wg[class='cl']:has(+ wg[class='group']) {
  margin-bottom: 1rem;
}

wg[class='cl'],
wg[class='wg'] {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25em;
  display: flex;
  flex-direction: column;
  position: relative;
}

wg[class='cl'] + wg[class='cl'],
wg[class='cl'] + wg[class='wg'] {
  margin-top: 1rem;
}

wg[class='minor'] > wg[class='minor'][role],
wg[class='wg'] > wg[class='minor'] {
  display: block;
  margin-left: 1rem;
}

wg[class='wg'] > wg[class='minor'] > wg[class='minor'] {
  /* Ryder: sometimes a second level of minor clause 
  exists, and it should not be further indented. */
  margin-left: 0;
}

/* Roles */

wg[class='cl'] > *[role] {
  position: relative;
  display: block;
}

wg[class='cl'] > wg[class='cl'][role]::before,
wg[class='cl'] > wg[class='wg'][role]::before {
  /* Move the role for constituent clauses outside of the clause border */
  margin-left: -1rem;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
  position: absolute;
  display: block;
  font-size: 1rem;
}

wg[class='cl'] > wg[class='cl'][role],
wg[class='cl'] > wg[class='wg'][role],
wg[class='cl'] > w[role] {
  margin-left: 0.8rem;
  margin-top: 1.5rem;
}

wg[class='cl'] > wg[role]::before {
  color: cadetblue;
  content: attr(role);
  font-size: 1rem;
}

wg[class='cl'] > w[role]::before {
  color: cadetblue;
  content: attr(role) ' ';
  font-size: 1rem;
}

wg[class='cl'] > wg[role='g']::before {
  content: '';
  font-size: 1rem;
}

wg[class='cl'] > wg[role='adv']::before,
wg[class='cl'] > wg[role='pp']::before,
wg[class='cl'] > w[role='adv']::before,
wg[class='cl'] > w[role='pp']::before {
  color: cadetblue;
  content: '+ ';
  font-size: 1rem;
}

w[role='aux']::before,
wg[role='aux']::before,
wg[class='cl'] > w[role='aux']::before,
wg[class='cl'] > wg[role='aux']::before {
  /* Ryder: Unlike most other roles, auxiliaries should be displayed even when they are not children of clauses.
     thus, these are not prefixed with the `wg[class=cl] >` path. */
  color: cadetblue;
  content: '~'' ';
  font-size: 1rem;
}

/* ----- Participles and infinitives ----- */

*[role='v']:has(> w[mood='participle'])::before {
  color: cadetblue;
  content: 'v.part ';
  font-size: 1rem;
}

*[role='v']:has(> w[mood='infinitive'])::before {
  color: cadetblue;
  content: 'v.inf ';
  font-size: 1rem;
}

w[discontinuous]::after {
  content: '*';
  vertical-align: super;
  color: cadetblue;
  font-size: small;
}

/* ----- Apposition - this ain't quite right, but better than nothing ---------*/

/* Apposition */

wg[rule='Np-Appos'] > wg:not(:first-child)::before,
wg[rule='Np-Appos'] > w:not(:first-child)::before {
  content: ': ';
  color: cadetblue;
  margin-left: 1em;
}

wg[rule='Np-Appos'] > wg:not(:first-child),
wg[rule='Np-Appos'] > w:not(:first-child) {
  display: block;
}

/* -----  Experimental stuff goes here -------- */

/* 
  RYDER: the additional wg[class=group] predicate is 
  needed for some instances like the last wg/group of Luke 1.19 
*/

wg[role='g'] > w,
wg[class='group'] > w {
  display: block;
  margin-top: 1rem;
}

wg[class='group'] wg[class='group'] {
  margin-top: 0;
}

wg[rule='sub-CL']:not(> *[role])::before {
  /* Ryder: in sub-CL clauses, the conjunction drops to a new line below the role
      and the clause is further indented. This rule horizontally aligns the conj
      and the role of the sub-CL wg. E.g. διότι in Luke 2.7 */
  position: absolute;
}
