/* hebrew-treedown.css */
chapter {
  padding: 2em;
  direction: rtl;
  font-size: 18pt;
}

wg[class='header'] {
  display: block;
  position: fixed;
  width: 6rem;
  top: 5px;
  left: 5px;
  background-color: white;
  opacity: 1;
  overflow: scroll;
}

milestone {
  color: blue;
  display: block;
}
milestone + milestone {
  display: inline;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div[class='book'] {
  margin-top: 1in;
  margin-left: 1in;
  margin-bottom: 1in;
  line-height: 1.2;
  background-color: white;
  opacity: 1;
}

book,
passage,
root {
  line-height: 1.5;
  margin-left: 5rem;
  margin-right: 10rem;
  /* background: linen; */
}

/* WGs */

sentence > wg {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

wg:has(wg[class='cl']) + wg[class='cl'] {
  /* Ryder: sometimes a deeply nested wg[class=cl] is followed by a wg[class=cl] that is not nested. 
     Without this additional margin, there is a double line since the clause adjacency 
     is not obvious based on the other rules. */
  margin-top: 1rem;
}

wg[class='cl']:has(+ wg[class='group']) {
  margin-bottom: 1rem;
}

wg[class='cl'],
wg[class='wg'] {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25em;
  display: flex;
  flex-direction: column;
  position: relative;
}

wg[class='cl'] + wg[class='cl'],
wg[class='cl'] + wg[class='wg'] {
  margin-top: 1rem;
}

wg[class='wg'] > wg[class='minor'] > wg[class='minor'] {
  /* Ryder: sometimes a second level of minor clause 
  exists, and it should not be further indented. */
  margin-left: 0;
}

/* Words */

/* Ryder: these next three rules are essential to override 
    default DOM behaviour that adds whitespace characters
    between inline elements. */
wg[role] {
  font-size: 0;
}
wg[role]::before,
wg[role] > * {
  font-size: 1rem;
}

w:not([after])::after {
  content: '- ';
  color: lightgrey;
  margin-left: -0.2em;
  /* add a light grey border between morphemes */
  /* border-left: 4px solid #ccc; */
}
w:not([after]):empty::after {
  content: 'ה- ';
  color: lightgrey;
  margin-left: -0.2em;
}

w[after='־']::after {
  /* hebrew maqqef */
  content: attr(after);
  /* override default morpheme spacing display */
}

/* Roles */

[role] {
  display: block;
}

wg[class='cl'][role]::before,
wg[class='wg'][role]::before {
  /* Move the role for constituent clauses outside of the clause border */
  margin-left: -1rem;
  /* Ryder: commented these lines because they were adding a blank line before, e.g., Ἐπειδήπερ in Luke 1.4 */
  /* margin-top: -1.5rem; */
  /* display: block; */
  margin-bottom: 1rem;
  position: absolute;
}

[role]::before {
  color: cadetblue;
  content: attr(role);
  margin-inline-end: 0.2rem;
} /* 

w[role]::before {
  color: cadetblue;
  content: attr(role);
} */

wg[role='g']::before {
  content: '';
}

wg[role='adv']::before,
wg[role='pp']::before {
  color: cadetblue;
  content: '+';
}

w[role='adv']::before {
  color: cadetblue;
  content: '+';
}

w[role='aux']::before,
wg[role='aux']::before,
w[role='aux']::before,
wg[role='aux']::before {
  /* Ryder: Unlike most other roles, auxiliaries should be displayed even when they are not children of clauses.
     thus, these are not prefixed with the `wg[class=cl] >` path. */
  color: cadetblue;
  content: '~';
}

/* ----- Participles and infinitives ----- */

*[role='v']:has(> w[mood='participle'])::before {
  color: cadetblue;
  content: 'v.part';
}

*[role='v']:has(> w[mood='infinitive'])::before {
  color: cadetblue;
  content: 'v.inf';
}

w[discontinuous]::after {
  content: '*';
  vertical-align: super;
  color: cadetblue;
  font-size: small;
}

/* ----- Apposition - this ain't quite right, but better than nothing ---------*/

/* Apposition */

wg[rule='Np-Appos'] > wg:not(:first-child)::before,
wg[rule='Np-Appos'] > w:not(:first-child)::before {
  content: ':';
  color: cadetblue;
  margin-inline-start: 1rem;
}

wg[rule='Np-Appos'] > wg:not(:first-child),
wg[rule='Np-Appos'] > w:not(:first-child) {
  display: block;
}

/* -----  Experimental stuff goes here -------- */

/* 
  RYDER: the additional wg[class=group] predicate is 
  needed for some instances like the last wg/group of Luke 1.19 
*/

wg[role='g'] > w,
wg[class='group'] > w {
  display: block;
  margin-top: 1rem;
}

wg[class='group'] wg[class='group'] {
  margin-top: 0;
}

wg[rule='sub-CL']:not(> *[role])::before {
  /* Ryder: in sub-CL clauses, the conjunction drops to a new line below the role
      and the clause is further indented. This rule horizontally aligns the conj
      and the role of the sub-CL wg. E.g. διότι in Luke 2.7 */
  position: absolute;
}

/* ------ right spacing --------- */

wg[class='cl'] {
  margin-right: 1em;
  position: relative;
}

wg[type='conjuncted-wg'] {
  display: block;
  margin-inline-start: 1rem;
}
wg[type='conjuncted-wg'] > * {
  margin-inline-start: 0;
}

wg:not([class]) {
  margin-inline-start: 0;
}

wg[class='cl'][role] {
  display: flex;
}

wg[class='g'] > wg[class='cl'] + wg,
wg[class='g'] > wg[class='cl'] + w {
  margin-inline-start: 1rem;
}

[type='wrapper-clause-scope'] {
  display: block;
}

[class='modifier-scope'] > wg[type='wrapper-clause-scope'],
[class='modifier-scope'] > [class='modifier-scope'] + [class='modifier-scope'],
[type='wrapper-clause-scope']
  > [class='modifier-scope']
  + [class='modifier-scope'] {
  display: block;
  margin-inline-start: 1rem;
}
