wg[class='cl'] {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-right: 0.25em;
  display: block;
  border-right: 1px inset grey;
  border-top: 1px inset grey;
  border-bottom: 1px inset grey;
}

wg[class='cl'][role]::before {
  /* Ryder: the addition of a right border means the role needs to shift 0.1rem */
  margin-right: -1.1rem;
}

wg[class='cl'] > wg[class='cl'][role] {
  /* Ryder: clauses with roles need some additional spacing due to borders */
  margin-top: 2rem;
}
wg[class='cl'] > wg[class='cl'][role]::before {
  margin-top: -2rem;
}

sentence > wg[class='cl'] {
  border-right: none;
  border-top: none;
  border-bottom: none;
}
