/* hebrew-treedown.css */

chapter {
  padding: 2em;
}

wg[class='header'] {
  padding: 2em;
}

* {
  direction: rtl;
  font-size: 1.4rem;
}

w:not([after]) {
  margin-left: -0.3rem;
}

/* ------ right spacing --------- */

wg[class='cl'] {
  margin-right: 1em;
  position: relative;
}


sentence > wg {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

wg[class='header'] {
  display: block;
  position: fixed;
  width: 6rem;
  top: 5px;
  left: 5px;
  background-color: white;
  opacity: 1;
  overflow: scroll;
}

milestone {
    color: blue;
    display: block;
  padding-right: 6px;
  font-size: 1rem;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #666;
}

div[class=book]  {
  margin-top: 1in;
  margin-left: 1in;
  margin-bottom: 1in;
  line-height: 1.2;
  background-color: white;
  opacity: 1;
}

book, passage,root {
  line-height: 1.5;
  margin-left: 5rem;
  margin-right: 10rem;
  /* background: linen; */
}


/* WGs */

wg[class=sentence]{}

wg[class=cl] {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  display: block;
}

wg[rule=that-VP],
wg[rule=sub-CL],
wg[role] {
    position: relative;
    display: block;
}

/* Words */

w[role] {
  position: relative;
  display: block;
}

w[case='vocative'] {
  position: relative;
  display: block;
}

w + w[pos='suffix'] {
  margin-right: -0.2rem;
}

/* Generated Text */

/*
  Spacing problem:  generated text usually belongs on the previous level,
  not on the new indent leve.  Not sure how to do that with CSS.
*/

wg[class=sentence] wg[class=cl]::before {
  content: initial;
  font-size: 1rem;
}

wg[role]::before {
  color: cadetblue;
  content: attr(role);
  font-size: 1rem;
}

wg[rule=that-VP]::before,
wg[rule=sub-CL]::before,
wg[role=adv]::before,
wg[role=pp]::before {
  color: cadetblue;
  content: "+ ";
  font-size: 1rem;
}

  font-size: 1rem;

w[role=v][mood=participle]::before {
  color: cadetblue;
  content: "v.part ";
  font-size: 1rem;
}

w[role=v][mood=infinitive]::before {
  color: cadetblue;
  content: "v.inf ";
  font-size: 1rem;
}

w[role]::before {
  color: cadetblue;
  content: attr(role) " ";
  font-size: 1rem;
}

w[role=adv]::before {
  color: cadetblue;
  content: "+ ";
  font-size: 1rem;
}

w[discontinuous]::after {
  content: "*";
  vertical-align: super;
  color: cadetblue;
  font-size: small;
  font-size: 1rem;
}

w[case=vocative]::before {
  color: cadetblue;
  content: "voc" " ";
}


/* -----  Experimental stuff goes here -------- */

/* Apposition */

wg[rule=Np-Appos] > wg:not(:first-child)::before,
wg[rule=Np-Appos] > w:not(:first-child)::before {
    content: ": ";
    color: cadetblue;
  margin-left: 1em;
}

wg[rule=Np-Appos] > wg:not(:first-child),
wg[rule=Np-Appos] > w:not(:first-child) {
    display: block;
}

/* Probably want to put brackets around single words, but left now it cascades badly. */

wg[rule=Np-Appos] > wg:first-child::before {
    content: "[";
    color: cadetblue;
}

wg[rule=Np-Appos]> wg:first-child::after {
    content: "]";
    color: cadetblue;
}

pc::before {
    content: initial;
}

/* ------ right spacing --------- */

wg[class=cl] {
  margin-right: 1em;
  position: relative;
}