div[type="book"] {
    direction: rtl;
    font-family: 'SBLBibLit', 'Times New Roman', serif;
    width: 660px;
    /* width: 630px; */
}

samekh, pe {
    display: inline;
    margin-inline-start: 0.5em
}
pe:after {
    content: ' ';
    display: block;
}
samekh::after {
    content: '\00a0\00a0\00a0\00a0\00a0\00a0';
}
title {
    font-size: 2.5rem;
    text-align: center;
    display: block;
}
verse {
    display: block;
    margin-inline-start: 1.0em;
    margin-block-start: 1.0em;
    font-size: 1.5rem;
    line-height: 1.7;
}
milestone::before {
    content: attr(n);
      vertical-align: baseline;
      position: relative;
      top: -0.6em;
      font-size: 0.6em;
      opacity: 50%;
      margin-inline-end: 0.4em;
}


/* NOTE: Uncomment to debug a particular verse or chapter */
/* chapter {
    display: none;
}
chapter[ref="AMO 3"] {
    display: block;
} */
/* verse {
    display: none;
} */
/* verse[ref="AMO 3:15"] {
    display: block;
} */
