div[type="book"] {
    direction: rtl;
    font-family: 'SBLBibLit', 'Times New Roman', serif;
    width: 660px;
    /* width: 630px; */
}

title {
    font-size: 2.5rem;
    text-align: center;
    display: block;
}
/* FIXME: Remove debugging */
verse {
    /* display: block; */
    display: none;
    margin-inline-start: 1.0em;
    margin-block-start: 1.0em;
    font-size: 1.5rem;
    line-height: 1.7;
}
milestone::before {
    content: attr(n);
      vertical-align: baseline;
      position: relative;
      top: -0.6em;
      font-size: 0.6em;
      opacity: 50%;
      margin-inline-end: 0.4em;
}

verse[ref="RUT 1:7"] {
    display: block;
}

verse[ref="RUT 1:8"] {
    display: block;
}
